h1, p, a{
    color:rgb(238, 236, 236);
    text-align: center;
}


.big{
    background-color:;
}

body{
    background-image: url(./scary-horror-prank.gif);
    background-repeat: no-repeat;
    background-size: 1900px;
}